# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# logs
*.log
*.debuglog
*.stderr
*.stdout

# emacs files
*~
*\#
.tramp_history

# vim cache files
*.swp

# SublimeText project files
*.sublime-project
*.sublime-workspace

# Ninja output
.ninja_deps
.ninja_log
/build.ninja
/ninja
/ninja.bootstrap
/ninja_test

# Visual Studio Code project files
/.vscode/
/.ccls-cache/

# Visual Studio files
/.vs/
/out/

# Qt Creator project files
/CMakeLists.txt.user

# clangd
/.clangd/
/compile_commands.json
/.cache/

# CMAKE output
/cmake-build-*/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
cmake-build-*

# JetBrains project files
.idea

# Python cache
*.pyc
__pycache__
*.pytest_cache

/bin/
/lib/
/log/
